/* Color Palette for the Website */
:root {
  /* Primary Colors (70%) */
  --primary-color: #d8bef2;
  --primary-color-lighter: #eadcf8;
  --primary-color-darker: #b89ed6;

  /* Secondary Color (25%) */
  --secondary-color: #f2e2be;

  /* Branding Color (5%) */
  --branding-color: #c28365;

  /* Tertiary Color */
  --tertiary-color: #bef2d8;

  /* Accent Colors */
  --accent-color-1: #f2bed8;
  --accent-color-2: #bed8f2;
  --accent-color-3: #f2bebe;
  --accent-color-4: #d8f2be;
  --accent-color-5: #bee2f2;

  /* Neutral Colors */
  --neutral-color-light: #f2f2f2;
  --neutral-color-dark: #bebebe;
  --neutral-color-darker: #9e9e9e;
  --neutral-color-darkest: #7e7e7e;
  --neutral-color-black: #000000;
  --neutral-color-white: #ffffff;

  /* Additional Palette Colors */
  --color-1-light: #fef1e4;
  --color-1-dark: #ffe6b4;
  --color-2-light: #ebae61;
  --color-2-dark: #c28365;
  --color-3: #d8bef2;
  --color-4: #ffd2e9;
  --color-5: #f8bdc5;
  --color-6: #dae1a7;
  --color-7: #e0f1fd;
  --color-8: #88a8cb;
}
