/* Tablet-specific styles: applies between 481px and 768px screen width */
@media (min-width: 481px) and (max-width: 768px) {
  .section-heading-menu {
  align-items: start;
  justify-content: start;
  width: 100%;
}

  /* Add horizontal margin to navigation items */
  .nav-item {
    margin: 0 1%;
  }

  /* Reduce font size for navbar links */
  .navbar-nav a {
    font-size: 12px;
  }
}
