/* --- FOOTER --- */
.left-col-footer {
  display: flex;
  flex-direction: column;
}

.right-col-footer {
 display: flex;
 flex-direction: column;
}
footer {
  border: 2px solid black;
}

#footer-brand-name {
  font-size: 1.4rem;
}

#footer-link-copyright {
  font-size: 0.8rem;
  text-align: end;
}

footer a {
  text-decoration: none;
  color: rgb(27, 27, 27);
}
footer a:hover {
  text-decoration: underline;
}
#footer-logo {
  letter-spacing: normal;
  text-transform: uppercase;
}


.social-media-row-footer {
  color: white;
}

.social-media-row-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
