   <!-- NAV-BAR-->
    <nav class="navbar sticky-top navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand justify-content-start" href="./index.html">
          <img
            src="/htdocs/imgs/Mug-Walking.svg"
            class="icon"
            alt="The Drip Room Cafe logo - walking mug"
          />
          the drip room
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarNav"
        >
          <!-- NAV-LINKS Section -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./index.html"
                >home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./store.html">store</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./menu.html">menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./coffee-card.html">coffee card</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./venue.html">venue </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about.html">about us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contact.html">contact us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./cart.html">cart</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link nav-find-us"
                href="https://maps.app.goo.gl/69LfUh4Gh4MVbF5j7"
                target="_blank"
                >find us</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>